<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carrito <% if (error) { %> no encontrado <% } else {carrito.id} %>
  </title>
  <style>
    a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body style="margin: 0px">
  <%- include('../partials/navbar'); %>
  <main style="background-color: beige">
    <% if (error) { %>
    <h1 style="padding: 10px; margin: 0px"><%= error.error %></h1>
    <% } else { %>
    <h1 style="padding: 10px; margin: 0px">Carrito Nº<%= carrito.id %></h1>
    <div style='display: flex; justify-content: center;'>
      <table style="width: 60%">
        <tr>
          <th style="width: 10%">Título</th>
          <th style="width: 10%">Precio</th>
          <th style="width: 10%">Imagen</th>
          <th style="width: 10%">Descripción</th>
          <th style="width: 10%">Código</th>
        </tr>
        <% carrito.prods.forEach(item => { %>
        <tr>
          <td style="width: 10%"><%= item.title %></td>
          <td style="width: 10%">$<%= item.price %></td>
          <td style="width: 10%"><img style="max-height: 5vh" src="<%= item.thumbnail %>" /></td>
          <td style="width: 10%"><%= item.description %></td>
          <td style="width: 10%"><%= item.code %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <div style='display: flex; justify-content: center;'>
      <h3>Marca de tiempo: <%= carrito.timestamp %></h3>
    </div>
    <form style="padding: 20px 0px 20px 10px" method='POST' action='/api/carrito/<%= carrito.id %>/productos'>
      <label>Id del producto que desea agregar al carrito:</label>
      <input type="number" name="prodId" />
      <input type="submit" value="Agregar" />
      <label>Luego de agregarlo, recargue la pagina sin reenviar el formulario.</label>
    </form>
    <% } %>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>