<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Products</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar', { email: user?.email }); %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Thumbnail</th>
          <th>Price</th>
          <th>Add To Cart</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <td><%= product.category %></td>
          <td><%= product.thumbnail %>p</td>
          <td><%= product.price %></td>
          <td>
            <a href="/cart/<%= product._id %>"><img style="height: 30px; margin: 10px" src="../public/assets/add-to-cart.png" alt="Agregar al carrito" /></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('../partials/footer'); %>
  </body>
</html>
