<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Productos</title>
  <link rel="stylesheet" href="../../public/index.css">
</head>

<body style="margin: 0px">
  <%- include('../partials/navbar'); %>
  <main style="background-color: beige">
    <h1 style="padding: 10px; margin: 0px">Listado de productos</h1>
    <div style='display: flex; justify-content: center;'>
      <table style="width: 50%;">
        <tr>
          <th style="width: 10%">Título</th>
          <th style="width: 10%">Precio</th>
          <th style="width: 10%">Imagen</th>
          <th style="width: 10%">Descripción</th>
          <th style="width: 10%">Código</th>
          <th style="width: 10%">Stock</th>
        </tr>
        <% productos.forEach(item => { %>
        <tr>
          <td style="width: 10%"><%= item.title %></td>
          <td style="width: 10%">$<%= item.price %></td>
          <td style="width: 10%"><img style="max-height: 5vh" src="<%= item.thumbnail %>" /></td>
          <td style="width: 10%"><%= item.description %></td>
          <td style="width: 10%"><%= item.code %></td>
          <td style="width: 10%"><%= item.stock %>U.</td>
        </tr>
        <% }) %>
      </table>
    </div>
    <div style='display: flex; justify-content: center;'>
      <% if (adminStatus == true) { %>
      <a href="/prodform">Agregar Producto</a>
      <% } %>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>